@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,900&display=swap");
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 50px;
  position: relative; }
  h1:after {
    width: 200px;
    height: 5px;
    background: #6212C1;
    position: absolute;
    bottom: -20px;
    left: 0;
    content: ''; }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 42px; }

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 32px; }

.roboto-light {
  font: 300 16px "Roboto"; }

.roboto-cond {
  font: 400 16px "Roboto Condensed"; }

/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical; }

/* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
     Juan Cabral custom styles
     ========================================================================== */
.bg-primary-bolor {
  background: #6212C1; }

.bg-gray {
  background: #E9E9E9; }

.bg-black {
  background: #000; }

.line {
  width: 100%;
  height: 2px;
  background: #dedede;
  display: block;
  margin: 20px 0; }

.line-purple {
  width: 200px;
  height: 4px;
  background: #6212C1;
  display: block; }

.no-border {
  border: none; }

.primary-button, .secondary-button, .outline-button-white {
  background-color: #6212C1;
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px; }

.secondary-button {
  background-color: #2CFFFA;
  color: #000; }

.outline-button-white {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 14px 20px; }

/* ==========================================================================
     Helper classes
     ========================================================================== */
/*
   * Hide visually and from screen readers
   */
.hidden {
  display: none !important; }

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
  * Hide visually and from screen readers, but maintain layout
  */
.invisible {
  visibility: hidden; }

/*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000; }

header {
  background: url("../img/stage.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
  color: #fff;
  padding: 30px 0; }
  header h1 {
    color: #fff; }
  header h2 {
    font: 300 18px "Roboto"; }
  header nav a {
    font: 700 14px "Roboto Condensed"; }
  header nav .button-link {
    font: 700 14px "Roboto Condensed";
    border: none;
    background: transparent; }
  header .menu-movil {
    background: #000;
    height: 100vh;
    padding: 40px 20px;
    color: #fff; }

.beneficio-empresas {
  background: -webkit-gradient(linear, left bottom, left top, from(#ebebeb), to(white));
  background: linear-gradient(0deg, #ebebeb 0%, white 100%); }

.beneficios {
  background: url("../img/beneficios.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0; }
  .beneficios i {
    font-size: 50px;
    color: #fff; }
  .beneficios p {
    vertical-align: middle; }

.laptop i {
  font-size: 40px;
  padding: 10px;
  color: #6212C1; }

.laptop .listado {
  position: absolute;
  width: 25%;
  top: 30%;
  left: 0; }
  @media (max-width: 1430px) {
    .laptop .listado {
      width: 35%; } }

.laptop .listado2 {
  position: absolute;
  width: 25%;
  top: 30%;
  right: 0; }
  @media (max-width: 1430px) {
    .laptop .listado2 {
      width: 35%; } }

.laptop .laptop {
  text-align: center;
  margin: 0 auto;
  display: block; }

.mejor-opcion {
  background: url("../img/mapa.png") no-repeat;
  background-position: right center;
  background-size: contain;
  padding: 40px 0; }

.testimonios {
  background: #6212C1;
  height: 470px;
  margin: 100px 0; }
  @media (max-width: 676px) {
    .testimonios {
      height: 620px; } }
  .testimonios .imagen-overlap {
    margin-top: -70px; }
    .testimonios .imagen-overlap img {
      width: 95%; }
  .testimonios .testimonio p {
    color: #fff;
    margin-bottom: 50px; }
  .testimonios .testimonio h5 {
    color: #fff; }

.contacto {
  padding: 50px 0;
  background: #EAEAEA; }
  .contacto a {
    color: #000;
    text-decoration: none; }
    .contacto a:hover {
      color: #6212C1; }

footer {
  background: #000;
  color: #fff;
  padding: 40px 0; }
  footer a {
    color: #fff;
    font-size: 14px; }
  footer .menu-footer li {
    padding: 8px 0; }
  footer .newsletter input[type=text] {
    width: 65%; }
    @media (max-width: 676px) {
      footer .newsletter input[type=text] {
        width: 100%; } }
  footer .newsletter input[type=submit] {
    width: 30%; }
    @media (max-width: 676px) {
      footer .newsletter input[type=submit] {
        width: 50%;
        margin-top: 30px; } }
  footer .social p {
    font: 300 16px "Roboto Condensed"; }
