.btn{
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 500;
}
.btn-outline-dark{
  border: 1px solid $gray-300 !important;
  color: $gray-800;
  &:hover {
    color:white;
}
}

.btn-outline-primary{
  border: 1px solid $primary !important;
  color: $primary;
}
.btn-outline-secundary{
  border: 1px solid $secondary !important;
  color: $secondary;
}
.btn-cta{
  font-size: 0.9rem;
  padding: 0.625rem 1.75rem;
}
.form-control{
  padding: 0.625rem 1.75rem;
  height: calc(1.5em + 0.75rem + 7px);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  color: $primary;
  background: transparent;
  border-bottom: 4px solid $primary;
}
.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.btn-sm {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.75rem;
  }
  &.btn-lg {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.35rem;
  }
}

.btn-icon-split {
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  .icon {
    background: fade-out($black, .85);
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
  }
  .text {
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
  }
  &.btn-sm {
    .icon {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
    .text {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
    }
  }
  &.btn-lg {
    .icon {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
    .text {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
    }
  }
}
