
    <!--Modal - Nuevo Reporte-->
    <div class="modal fade bd-example-modal-lg" id="modal-NuevoReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                   <div class="container-fluid">
                       <div class="row">
                            <div class="col-12">
                                <!-- TABS -->
                                <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab-modal-nuevo-reporte" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-nuevo-reporte-tab" data-toggle="pill" href="#pills-nuevo-reporte" role="tab" aria-controls="pills-nuevo-reporte" aria-selected="true">LEVANTAR REPORTE</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tab-modal-nuevo-reporte-Content">
                                    <div class="tab-pane fade show active" id="pills-nuevo-reporte" role="tabpanel" aria-labelledby="pills-nuevo-reporte-tab">
                                        <div class="row">
                                            <p>Complete los datos para agregar</p>
                                        </div>

                                        <div class="row mb-5 mx-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="inputNumGuide">Número de Guía</label>
                                                    <select id="inputNumGuide" class="form-control">
                                                        <option value="">123456789</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row bd-highlight justify-content-end mb-2 mt-5">
                                            <button type="button" class="btn btn-outline-dark text-black" data-dismiss="modal">CERRAR</button>    
                                            <button type="button" class="btn btn-secondary text-black ml-2" data-dismiss="modal">GUARDAR</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                       </div>

                       
                   </div>

                </div>
              </div>
            </div>
    </div>
    <!--Termina Modal - Nuevo Reporte-->