<!--Modal - Agregar Sobrepeso-->
<div class="modal fade bd-example-modal-lg" id="modal-AgregarSobrepeso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-12">
                            <!-- TABS -->
                            <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="pills-tab-modal-agregar-sobrepeso" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-cobrar-tab" data-toggle="pill" href="#pills-cobrar" role="tab" aria-controls="pills-cobrar" aria-selected="true">CARGAR SOBREPESO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-archivo-tab" data-toggle="pill" href="#pills-archivo" role="tab" aria-controls="pills-archivo" aria-selected="false">GENERAR ARCHIVO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-nuevo-tab" data-toggle="pill" href="#pills-nuevo" role="tab" aria-controls="pills-nuevo" aria-selected="false">NUEVO SOBREPESO</a>
                                </li>
                            </ul>
    
                            <div class="tab-content" id="pills-tab-modal-agregar-sobrepeso-Content">
                                <div class="tab-pane fade show active" id="pills-cobrar" role="tabpanel" aria-labelledby="pills-cobrar-tab">
                                    <div class="row mx-5 mt-4 mb-3">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-dark text-black mr-3">Seleccionar archivo</button>
                                            <small>Ningun archivo seleccionado</small>    
                                        </div>
                                    </div>

                                    <div class="row mx-5 mb-5">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="inputPaqueteria">Paquetería</label>
                                                <select id="inputPaqueteria" class="form-control">
                                                    <option value="">FedEx</option>
                                                    <option value="">RedPack</option>
                                                    <option value="">DHL</option>
                                                    <option value="">Paquete Express</option>
                                                    <option value="">Quiken</option>
                                                    <option value="">Sendex</option>
                                                    <option value="">Carssa</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row bd-highlight justify-content-end mb-2 mt-5">
                                        <button type="button" class="btn btn-outline-dark text-black" data-dismiss="modal">CERRAR</button>    
                                        <button type="button" class="btn btn-secondary text-black ml-2" data-dismiss="modal">GUARDAR</button>
                                    </div>
                                </div>
    
                                <div class="tab-pane fade" id="pills-archivo" role="tabpanel" aria-labelledby="pills-archivo-tab">
                                    <div class="row mx-5 mt-4 mb-3">
                                        <div class="col-12">
                                            <p>Cargar Archivo CSV de sobrepesos</p>
                                            <button type="button" class="btn btn-outline-dark text-black mr-3">Seleccionar archivo</button>
                                            <small>Ningun archivo seleccionado</small>    
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row bd-highlight justify-content-end mb-2 mt-5">
                                        <button type="button" class="btn btn-outline-dark text-black" data-dismiss="modal">CERRAR</button>    
                                        <button type="button" class="btn btn-secondary text-black ml-2" data-dismiss="modal">GUARDAR</button>
                                    </div>
                                </div>
    
                                <div class="tab-pane fade" id="pills-nuevo" role="tabpanel" aria-labelledby="pills-nuevo-tab">
                                    <div class="row">
                                        <p>Asignar status</p>
                                    </div>

                                    <div class="row mb-5 mx-3">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="inputNumGuide">Número de Guía</label>
                                                <input id="inputNumGuide" type="text" class="form-control" placeholder="123456789">
                                                </input>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputPesoReal">Peso Real</label>
                                                <input id="inputPesoReal" type="text" class="form-control" placeholder="10kg">
                                                </input>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputPaqueteria">Paquetería</label>
                                                <select id="inputPaqueteria" class="form-control">
                                                    <option value="">FedEx</option>
                                                    <option value="">RedPack</option>
                                                    <option value="">DHL</option>
                                                    <option value="">Paquete Express</option>
                                                    <option value="">Quiken</option>
                                                    <option value="">Sendex</option>
                                                    <option value="">Carssa</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row bd-highlight justify-content-end mb-2 mt-5">
                                        <button type="button" class="btn btn-outline-dark text-black" data-dismiss="modal">CERRAR</button>    
                                        <button type="button" class="btn btn-secondary text-black ml-2" data-dismiss="modal">GUARDAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
        </div>
</div>
<!--Termina Modal - Agregar Sobrepeso-->