@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,900&display=swap');


h1{
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: $extrabold;
    font-size: 50px;
    position: relative;  
    &:after{
        width: 200px;
        height: 5px;
        background: $primary-color;
        position: absolute;
        bottom: -20px;
        left: 0;
        content: '';
    }
}

h2{
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: $light;
    font-size: 42px;  
}
h3{
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: $light;
    font-size: 32px;
}

//Estilos de parrafo
.roboto-light{
    font: $light 16px $Roboto;
}

.roboto-cond{
    font: $regular 16px $RobotoCond;
}
