body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: $light;
    color: $black;
}
header{
    background: url('../img/stage.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    color:$white;
    padding: 30px 0;
    h1{
        color: $white;
    }
    h2{
        font: $light 18px $Roboto;
    }
    nav{
        
        a {
          font: $bold 14px $RobotoCond;
        }
        .button-link{
            font: $bold 14px $RobotoCond;
            border: none;
            background: transparent;
        }
    }
    .menu-movil{
        background: $black;
        height: 100vh;
        padding: 40px 20px;
        color: $white;
    }
}
.beneficio-empresas{
    background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
}
.beneficios{
    background: url('../img/beneficios.png') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    i{
        font-size: 50px;
        color: $white;
    }
    p{
        vertical-align: middle;
    }
}
.laptop{
    i{
        font-size: 40px;
        padding: 10px;
        color: $primary-color;
    }
    .listado{
       
        position: absolute;
        width: 25%;
        top: 30%;
        left: 0;
        @media (max-width: 1430px) {
            width: 35%;
        }
    }
    .listado2{
        position: absolute;
        width: 25%;
        top: 30%;
        right: 0;
        @media (max-width: 1430px) {
            width: 35%;
        }
    }
    .laptop{
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}
.mejor-opcion{
    background: url('../img/mapa.png') no-repeat;
    background-position: right center;
    background-size: contain;
    padding: 40px 0;
}
.testimonios{
    background: $primary-color;
    height: 470px;
    margin: 100px 0;
    @media (max-width: 676px) {
        height: 620px;
    }
    .imagen-overlap{
        margin-top:-70px ;
        img{
            width: 95%;
        }
      }
    .testimonio{
        p{
            color:$white;
            margin-bottom: 50px;
        }
        h5{
            color:$white;
        }
    }
}
.contacto{
    padding: 50px 0;
    background: $light-gray;
    a{
        color:$black;
        text-decoration: none;
        &:hover{
            color:$primary-color;
        }
    }
}
footer{
    background: $black;
    color:$white;
    padding: 40px 0;
    a{
        color: $white;
        font-size: 14px;
    }
    .menu-footer{
        li{
            padding: 8px 0;
        }
    }
    .newsletter{
        input[type=text]{
            width: 65%;
            @media (max-width: 676px) {
                width: 100%;
            }
        }
        input[type=submit]{
            width: 30%;
            @media (max-width: 676px) {
                width: 50%;
                margin-top: 30px;
            }
        }
    }
    .social{
        p{
            font: $light 16px $RobotoCond;
        }
    }
}