
//Colors
$primary-color:#6212C1;
$secondary-color:#2CFFFA;
$accent-color: #0EF3A0;
$error-color:#D00272;
$sucess-color:#0ED489;
$warning-color:#F5A623;

$black: #000;
$white: #fff;
$darkgray:#dedede;
$gray: #E9E9E9;
$light-gray: #EAEAEA;

//Fonts
$light: 300;
$regular:400;
$bold: 700;
$extrabold:900;
$Roboto:'Roboto';
$RobotoCond:'Roboto Condensed';