$_cols_number: 10;
$_col_width: 70;
$_gutter_width: 25;
$_is-env-dev: true;

/*!
Theme Name:   Flexie
Theme URI:    https://github.com/certainlyakey/timber-boilerplate
Description:  Flexie
Version:      1.0
Author:       OneUp
Text Domain:  theme_domain
Domain Path:  /languages/
*/

// @import "flexie-public-custom-styles/global/global";
// @import "flexie-public-custom-styles/global/spinner";
@import "main";
@import "dashboard";
@import "variables";
// @import "header";
// @import "login";
// @import "spinner";
// @import "site";
// @import "checkout";
// @import "editaccount";
// @import "order";
// @import "mobile";
// @import "flexie-public-custom-styles/components/category";
// @import "flexie-public-custom-styles/components/products-dynamic";
// @import "flexie-public-custom-styles/components/product";
//poi rimuovere da qua

/*@import "footer";*/


/*@import "frontend";*/

// @import "flexie-public-custom-styles/components/faq-list";
// @import "flexie-public-custom-styles/components/plans-block-pacchetti";
// @import "flexie-public-custom-styles/components/button";
// @import "flexie-public-custom-styles/components/alerts";
// @import "flexie-public-custom-styles/components/slider-module";